[run]
branch = True
omit =
       */deployment_tests/*
       */tests/*
       */jobmon/server/deployment/*
       */statistics/*
       */noxfile.py
       */setup.py
       */versioneer.py
       */_version.py
       */jobmon/serializers.py
       */__init__.py

[html]
directory = jm_coverage_html_report
