sphinx
sphinx_rtd_theme
pytest
cluster_utils
graphviz
flask
flask_cors
functools32; python_version < '3.0'
subprocess32; python_version < '3.0'

# future adds a 'queue' module to python2
future; python_version < '3.0'
