---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: grafana
  namespace: {{namespace}}
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
        name: grafana
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - image: {{grafana_image}}
        env:
        # Disable authentication. Doesn't seem important for this application.
        # Warning: Anonymous users will be able to execute arbitrary queries against InfluxDB
        - name: GF_AUTH_ANONYMOUS_ENABLED
          value: "true"
        - name: GF_AUTH_ANONYMOUS_ORG_ROLE
          value: "Admin"
        name: grafana
        ports:
        - name: http
          containerPort: 3000
        volumeMounts:
          - name: grafana-storage
            mountPath: /var/lib/grafana
      volumes:
      - name: grafana-storage
        persistentVolumeClaim:
          claimName: grafana-storage
