[metadata]
name = jobmon-installer-ihme
version = {{ INSTALLER_VERSION }}
description = jobmon client for IHME staff
long_description = file: README.rst, LICENSE

[options]
python_requires = >= 3.7
install_requires =
    importlib_metadata
    jobmon == {{ JOBMON_VERSION }}
    jobmon_slurm == {{ JOBMON_SLURM_VERSION }}
package_dir=
    =src
packages=find:

[options.packages.find]
where=src

[options.package_data]
jobmon_installer_ihme = server_config.json

[options.entry_points]
console_scripts =
    jobmon_ihme = jobmon_installer_ihme.cli:main
