
# Traefik cluster IP. MetalLB will forward traffic to this service
---
apiVersion: v1
kind: Service
metadata:
  name: traefik
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      name: web
      port: 80
    - protocol: TCP
      name: admin
      port: 8080
    - protocol: TCP
      name: grafana
      port: 3000
  selector:
    app: traefik

# jobmon_client cluster IP. Used for communication between k8s deployments.
# Eg traefik -> jobmon_client
# Allows hostname "jobmon-client" to resolve inside k8s containers
---
apiVersion: v1
kind: Service
metadata:
  name: jobmon-client
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      name: web
      port: 80
  selector:
    app: jobmon-client

# jobmon_scheduler cluster IP. Used for communication between k8s deployments.
# Eg traefik -> jobmon_scheduler
# Allows hostname "jobmon-scheduler" to resolve inside k8s containers
---
apiVersion: v1
kind: Service
metadata:
  name: jobmon-scheduler
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      name: web
      port: 80
  selector:
    app: jobmon-scheduler

# jobmon_swarm cluster IP. Used for communication between k8s deployments.
# Eg traefik -> jobmon_swarm
# Allows hostname "jobmon-swarm" to resolve inside k8s containers
---
apiVersion: v1
kind: Service
metadata:
  name: jobmon-swarm
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      name: web
      port: 80
  selector:
    app: jobmon-swarm

# jobmon_worker cluster IP. Used for communication between k8s deployments.
# Eg traefik -> jobmon_worker
# Allows hostname "jobmon-worker" to resolve inside k8s containers
---
apiVersion: v1
kind: Service
metadata:
  name: jobmon-worker
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      name: web
      port: 80
  selector:
    app: jobmon-worker

# Viz Server cluster IP. Used for communication between k8s deployments.
# Eg traefik -> viz server
# Allows hostname "jobmon-vizualization-server" to resolve inside k8s containers
---
apiVersion: v1
kind: Service
metadata:
  name: jobmon-vizualization-server
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      name: web
      port: 80
  selector:
    app: jobmon-vizualization-server

# Influxdb cluster IP. Used for communication between k8s deployments.
# Eg traefik -> influxdb and grafana -> influxdb
# Allows hostname "influxdb" to resolve inside k8s containers
---
apiVersion: v1
kind: Service
metadata:
  name: influxdb
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      name: influxdb-http
      port: 8086
  selector:
    app: influxdb

# Influxdb cluster IP. Used for communication between k8s deployments.
# Eg traefik -> grafana
# Allows hostname "grafana" to resolve inside k8s containers
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      name: grafana
      port: 3000
  selector:
    app: grafana
