# route for jobmon-client
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: jobmon-client
  namespace: {{ namespace }}
spec:
  entryPoints:
    # EntryPoints defined in 30_deployment_traefik.yaml.j2 (ports and traefik arguments)
    - web
  routes:
  - match: PathPrefix(`/`)
    kind: Rule
    services:
    - name: jobmon-client
      port: 80
  - match: PathPrefix(`/client`)
    kind: Rule
    services:
    - name: jobmon-client
      port: 80

# route for jobmon-scheduler
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: jobmon-scheduler
  namespace: {{namespace}}
spec:
  entryPoints:
    # EntryPoints defined in 30_deployment_traefik.yaml.j2 (ports and traefik arguments)
    - web
  routes:
  - match: PathPrefix(`/scheduler`)
    kind: Rule
    services:
    - name: jobmon-scheduler
      port: 80

# route for jobmon-swarm
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: jobmon-swarm
  namespace: {{namespace}}
spec:
  entryPoints:
    # EntryPoints defined in 30_deployment_traefik.yaml.j2 (ports and traefik arguments)
    - web
  routes:
  - match: PathPrefix(`/swarm`)
    kind: Rule
    services:
    - name: jobmon-swarm
      port: 80

# route for jobmon-worker
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: jobmon-worker
  namespace: {{namespace}}
spec:
  entryPoints:
    # EntryPoints defined in 30_deployment_traefik.yaml.j2 (ports and traefik arguments)
    - web
  routes:
  - match: PathPrefix(`/worker`)
    kind: Rule
    services:
    - name: jobmon-worker
      port: 80

# Send viz routes to viz containers
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: jobmon-vizualization-server-routes
  namespace: {{namespace}}
spec:
  entryPoints:
    # EntryPoints defined in 30_deployment_traefik.yaml.j2 (ports and traefik arguments)
    - web
  routes:
  - match: PathPrefix(`/viz`)
    kind: Rule
    services:
    - name: jobmon-vizualization-server
      port: 80

# Grafana routes
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-routes
  namespace: {{namespace}}
spec:
  entryPoints:
    # EntryPoints defined in 30_deployment_traefik.yaml.j2 (ports and traefik arguments)
    - grafana
  routes:
  - match: PathPrefix(`/`)
    kind: Rule
    services:
    - name: grafana
      port: 3000