apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  labels:
    name: kibana
  namespace: {{ .Values.global.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: kibana
  template:
    metadata:
      labels:
         name: kibana
         app: kibana
    spec:
      containers:
      - image: docker.elastic.co/kibana/kibana:7.11.1
        name: kibana
        ports:
        - name: http
          containerPort: 5601
        env:
        - name: ELASTICSEARCH_HOSTS
          value: http://elasticsearch:{{ .Values.ports.elasticsearch }}
        resources:
          limits:
            memory: 512Mi
            cpu: 2
          requests:
            memory: 256Mi
            cpu: 200m